.para1{font-size: 0; text-align:center; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style2{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 color: #FEFFFF;
 word-wrap: break-word;}
.para3{font-size: 0; text-align:left; padding-bottom:9px; margin-top:0px; padding-top:0px;}
.Style4{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 color: #797979;
 word-wrap: break-word;}
.Style5{font-family:  'Verdana-Italic', 'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-style: italic;
 color: #797979;
 word-wrap: break-word;}
.para6{font-size: 0; text-align:left; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style7{font-family:  'Verdana-Bold', 'Verdana' ,sans-serif ;
 font-size: 15px; 
 font-weight:700; 
 word-wrap: break-word;}
.linkStyle_8{font-family:  'Verdana-Bold', 'Verdana' ,sans-serif ;
 font-size: 15px; 
 font-weight:700; 
 color: #0075B9;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #B41700 #FF2600 */
 word-wrap: break-word;}
.linkStyle_8:visited{color:#B41700; text-decoration:underline;}
.linkStyle_8:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_11{font-family:  'Verdana-Bold', 'Verdana' ,sans-serif ;
 font-size: 15px; 
 font-weight:700; 
 color: #004C7E;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #B41700 #55C0FE */
 word-wrap: break-word;}
.linkStyle_11:visited{color:#B41700; text-decoration:underline;}
.linkStyle_11:hover{color:#55C0FE; text-decoration:underline;}
.Style14{font-family:  'Verdana-Bold', 'Verdana' ,sans-serif ;
 font-size: 9px; 
 font-weight:700; 
 word-wrap: break-word;}
.para15{font-size: 0; text-align:left; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style16{font-family:  'Verdana' ,sans-serif ;
 font-size: 16px; 
 color: #808080;
 word-wrap: break-word;}
.Style17{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style18{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 margin:0;
 word-wrap: break-word;}
.Style19{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-style: italic;
 color: #B41700;
 word-wrap: break-word;}
.Style20{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-style: italic;
 margin:0;
 color: #B41700;
 word-wrap: break-word;}
.Style21{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 color: #B41700;
 word-wrap: break-word;}
.Style22{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 color: #B41700;
 word-wrap: break-word;}
.Style23{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-style: italic;
 color: #AB1500;
 word-wrap: break-word;}
.Style24{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 margin:0;
 word-wrap: break-word;}
.Style25{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 word-wrap: break-word;}
.linkStyle_26{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #B41700 #FF2600 */
 word-wrap: break-word;}
.linkStyle_26:visited{color:#B41700; text-decoration:underline;}
.linkStyle_26:hover{color:#FF2600; text-decoration:underline;}
.Style29{font-family:  'Verdana' ,sans-serif ;
 font-size: 11px; 
 word-wrap: break-word;}
.linkStyle_30{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FEFB00 #FF2600 */
 word-wrap: break-word;}
.linkStyle_30:visited{color:#AB1500; text-decoration:underline;}
.linkStyle_30:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_33{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #B41700 #FF2600 */
 word-wrap: break-word;}
.linkStyle_33:visited{color:#B41700; text-decoration:underline;}
.linkStyle_33:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_36{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #AB1500 #FF2600 */
 word-wrap: break-word;}
.linkStyle_36:visited{color:#AB1500; text-decoration:underline;}
.linkStyle_36:hover{color:#FF2600; text-decoration:underline;}
.Style39{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 color: #0462C1;
 word-wrap: break-word;}
.Style40{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 margin:0;
 color: #0462C1;
 word-wrap: break-word;}
.Style24:visited{color:#B41700; text-decoration:underline;}
.Style24:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_43{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_43:visited{color:#AB1500; text-decoration:underline;}
.linkStyle_43:hover{color:#FF2600; text-decoration:underline;}
.Style46{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-style: italic;
 word-wrap: break-word;}
.linkStyle_47{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-style: italic;
 color: #0075B9;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #B41700 #FF2600 */
 word-wrap: break-word;}
.linkStyle_47:visited{color:#B41700; text-decoration:underline;}
.linkStyle_47:hover{color:#FF2600; text-decoration:underline;}
.Style50{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 color: #007003;
 word-wrap: break-word;}
.Style51{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 color: #97185D;
 word-wrap: break-word;}
.Style52{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 color: #FE634D;
 word-wrap: break-word;}
.Style53{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 color: #004C7E;
 word-wrap: break-word;}
.Style54{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 margin:0;
 word-wrap: break-word;}
.linkStyle_55{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 color: #004C7E;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #004C7E #55C0FE */
 word-wrap: break-word;}
.linkStyle_55:visited{color:#004C7E; text-decoration:underline;}
.linkStyle_55:hover{color:#55C0FE; text-decoration:underline;}
.linkStyle_58{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 color: #004C7E;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #B41700 #55C0FE */
 word-wrap: break-word;}
.linkStyle_58:visited{color:#B41700; text-decoration:underline;}
.linkStyle_58:hover{color:#55C0FE; text-decoration:underline;}
.linkStyle_61{font-family:  'AppleGothic' ;
 font-size: 42px; 
 font-weight:700; 
 color: #004C7E;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #004C7E #00A0FE */
 word-wrap: break-word;}
.linkStyle_61:visited{color:#004C7E; text-decoration:underline;}
.linkStyle_61:hover{color:#00A0FE; text-decoration:underline;}
.linkStyle_64{font-family:  'AppleGothic' ;
 font-size: 42px; 
 font-weight:700; 
 color: #004C7E;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #004C7E #55C0FE */
 word-wrap: break-word;}
.linkStyle_64:visited{color:#004C7E; text-decoration:underline;}
.linkStyle_64:hover{color:#55C0FE; text-decoration:underline;}
.para67{font-size: 0; text-align:left; padding-bottom:6px; margin-top:0px; padding-top:0px;}
.Style68{font-family:  'Verdana-Bold', 'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 letter-spacing: 0.01em; 
 word-wrap: break-word;}
.Style69{font-family:  'Calibri' ,'Arial' ,sans-serif ;
 font-size: 17px; 
 margin:0;
 word-wrap: break-word;}
.Style70{font-family:  'Calibri' ,'Arial' ,sans-serif ;
 font-size: 17px; 
 word-wrap: break-word;}
.linkStyle_71{font-family:  'Calibri' ,'Arial' ,sans-serif ;
 font-size: 17px; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_71:visited{color:#AB1500; text-decoration:underline;}
.linkStyle_71:hover{color:#FF2600; text-decoration:underline;}
.Style74{font-family:  'Verdana' ,sans-serif ;
 font-size: 18px;
 vertical-align: -5.4px;
 font-weight:700; 
 color: #919191;
 word-wrap: break-word;}
.Style75{font-family:  'Verdana' ,sans-serif ;
 font-size: 16px;
 vertical-align: -4.8px;
 font-weight:700; 
 color: #919191;
 word-wrap: break-word;}
.Style76{font-family:  'Verdana' ,sans-serif ;
 font-size: 16px;
 vertical-align: -4.8px;
 color: #919191;
 word-wrap: break-word;}
.Style77{font-family:  'Verdana' ,sans-serif ;
 font-size: 18px;
 vertical-align: -5.4px;
 font-weight:700; 
 margin:0;
 color: #919191;
 word-wrap: break-word;}
.Style78{font-family:  'Verdana' ,sans-serif ;
 font-size: 16px;
 vertical-align: -4.8px;
 font-weight:700; 
 margin:0;
 word-wrap: break-word;}
.Style79{font-family:  'Verdana' ,sans-serif ;
 font-size: 16px;
 vertical-align: -4.8px;
 font-weight:700; 
 word-wrap: break-word;}
.linkStyle_80{font-family:  'Verdana' ,sans-serif ;
 font-size: 16px;
 vertical-align: -4.8px;
 font-weight:700; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #AB1500 #FF2600 */
 word-wrap: break-word;}
.linkStyle_80:visited{color:#AB1500; text-decoration:underline;}
.linkStyle_80:hover{color:#FF2600; text-decoration:underline;}
.para83{font-size: 0; text-align:center; padding-bottom:6px; margin-top:0px; padding-top:0px;}
.Style84{font-family:  'Verdana' ,sans-serif ;
 font-size: 16px; 
 font-weight:700; 
 color: #919191;
 word-wrap: break-word;}
.Style85{font-family:  'Verdana' ,sans-serif ;
 font-size: 15px; 
 font-weight:700; 
 color: #919191;
 word-wrap: break-word;}
.Style86{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px;
 vertical-align: -4.2px;
 font-weight:700; 
 color: #919191;
 word-wrap: break-word;}
.Style87{font-family:  'Verdana' ,sans-serif ;
 font-size: 20px;
 vertical-align: -6px;
 font-weight:700; 
 color: #007003;
 word-wrap: break-word;}
.Style88{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px;
 vertical-align: -4.2px;
 font-weight:700; 
 color: #007003;
 word-wrap: break-word;}
.linkStyle_89{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 color: #AB1500;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FFAAB6 #FF2600 */
 word-wrap: break-word;}
.linkStyle_89:visited{color:#FFAAB6; text-decoration:underline;}
.linkStyle_89:hover{color:#FF2600; text-decoration:underline;}
.Style92{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 margin:0;
 color: #797979;
 word-wrap: break-word;}
.Style93{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 color: #797979;
 word-wrap: break-word;}
.Style94{font-family:  'Verdana' ,sans-serif ;
 font-size: 24px; 
 color: #AB1500;
 word-wrap: break-word;}
.Style95{font-family:  'Verdana' ,sans-serif ;
 font-size: 24px; 
 font-style: italic;
 color: #AB1500;
 word-wrap: break-word;}
.Style96{font-family:  'Verdana' ,sans-serif ;
 font-size: 24px; 
 margin:0;
 color: #AB1500;
 word-wrap: break-word;}
.Style97{font-family:  'Verdana' ,sans-serif ;
 font-size: 24px; 
 font-weight:700; 
 color: #AB1500;
 word-wrap: break-word;}
.Style98{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 color: #AB1500;
 word-wrap: break-word;}
.Style99{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 color: #808080;
 word-wrap: break-word;}
.Style100{font-family:  'Verdana' ,sans-serif ;
 font-size: 12px; 
 color: #808080;
 word-wrap: break-word;}
.Style101{font-family:  'Verdana' ,sans-serif ;
 font-size: 12px; 
 font-weight:700; 
 color: #AB1500;
 word-wrap: break-word;}
.linkStyle_102{font-family:  'Verdana' ,sans-serif ;
 font-size: 12px; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FEFB00 #FF2600 */
 word-wrap: break-word;}
.linkStyle_102:visited{color:#AB1500; text-decoration:underline;}
.linkStyle_102:hover{color:#FF2600; text-decoration:underline;}
.Style105{font-family:  'Verdana' ,sans-serif ;
 font-size: 12px; 
 color: #AB1500;
 word-wrap: break-word;}
.Style106{font-family:  'Verdana' ,sans-serif ;
 font-size: 12px; 
 color: #797979;
 word-wrap: break-word;}
.Style107{font-family:  'Verdana' ,sans-serif ;
 font-size: 12px; 
 margin:0;
 color: #797979;
 word-wrap: break-word;}
.linkStyle_108{font-family:  'Verdana' ,sans-serif ;
 font-size: 13px; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_108:visited{color:#AB1500; text-decoration:underline;}
.linkStyle_108:hover{color:#FF2600; text-decoration:underline;}
.Style111{font-family:  'Verdana' ,sans-serif ;
 font-size: 13px; 
 color: #797979;
 word-wrap: break-word;}
.Style112{font-family:  'Verdana-Bold', 'Verdana' ,sans-serif ;
 font-size: 12px; 
 font-weight:700; 
 color: #AB1500;
 word-wrap: break-word;}
.Style113{font-family:  'Calibri' ,'Arial' ,sans-serif ;
 font-size: 13px; 
 color: #AB1500;
 word-wrap: break-word;}
.Style114{font-family:  'Verdana-Bold', 'Verdana' ,sans-serif ;
 font-size: 12px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style115{font-family:  'Verdana' ,sans-serif ;
 font-size: 12px; 
 word-wrap: break-word;}
.Style116{font-family:  'Verdana' ,sans-serif ;
 font-size: 12px; 
 font-weight:700; 
 word-wrap: break-word;}
.para117{font-size: 0; text-align:left; padding-bottom:7px; margin-top:0px; padding-top:0px;}
.Style118{font-family:  'Verdana' ,sans-serif ;
 font-size: 12px; 
 font-style: italic;
 word-wrap: break-word;}
.Style119{font-family:  'Verdana' ,sans-serif ;
 font-size: 12px; 
 font-weight:700; 
 margin:0;
 color: #AB1500;
 word-wrap: break-word;}
.Style120{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 word-wrap: break-word;}
.Style121{font-family:  'Verdana-BoldItalic', 'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 font-style: italic;
 color: #AB1500;
 word-wrap: break-word;}
.Style122{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 font-style: italic;
 color: #AB1500;
 word-wrap: break-word;}
.Style123{font-family:  'Verdana' ,sans-serif ;
 font-size: 13px;
 vertical-align: -3.9px;
 margin:0;
 word-wrap: break-word;}
.Style124{font-family:  'Verdana' ,sans-serif ;
 font-size: 13px;
 vertical-align: -3.9px;
 font-weight:700; 
 word-wrap: break-word;}
.Style125{font-family:  'Verdana' ,sans-serif ;
 font-size: 13px;
 vertical-align: -3.9px;
 word-wrap: break-word;}
.Style126{font-family:  'Verdana' ,sans-serif ;
 font-size: 15px;
 vertical-align: -4.5px;
 font-weight:700; 
 word-wrap: break-word;}
.Style127{font-family:  'Verdana' ,sans-serif ;
 font-size: 13px;
 vertical-align: -3.9px;
 font-weight:700; 
 margin:0;
 word-wrap: break-word;}
.Style128{font-family:  'Verdana' ,sans-serif ;
 font-size: 13px;
 vertical-align: -3.9px;
 font-style: italic;
 word-wrap: break-word;}
.Style129{font-family:  'Verdana' ,sans-serif ;
 font-size: 13px;
 vertical-align: -3.9px;
 font-weight:700; 
 font-style: italic;
 margin:0;
 color: #002E73;
 word-wrap: break-word;}
.para130{font-size: 0; text-align:center; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style131{font-family:  'Verdana' ,sans-serif ;
 font-size: 13px;
 vertical-align: -3.9px;
 font-weight:700; 
 font-style: italic;
 word-wrap: break-word;}
.Style132{font-family:  'Verdana' ,sans-serif ;
 font-size: 17px; 
 font-weight:700; 
 color: #AB1500;
 word-wrap: break-word;}
.Style133{font-family:  'Verdana' ,sans-serif ;
 font-size: 13px; 
 margin:0;
 color: #AB1500;
 word-wrap: break-word;}
.Style134{font-family:  'Verdana' ,sans-serif ;
 font-size: 13px; 
 font-weight:700; 
 color: #AB1500;
 word-wrap: break-word;}
.Style135{font-family:  'Verdana' ,sans-serif ;
 font-size: 13px; 
 color: #AB1500;
 word-wrap: break-word;}
.Style136{font-family:  'Verdana' ,sans-serif ;
 font-size: 16px; 
 font-weight:700; 
 color: #AB1500;
 word-wrap: break-word;}
.Style137{font-family:  'Verdana' ,sans-serif ;
 font-size: 13px; 
 margin:0;
 word-wrap: break-word;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}
.Style141{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 font-style: italic;
 margin:0;
 word-wrap: break-word;}
.Style142{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 font-style: italic;
 word-wrap: break-word;}
.Style143{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-style: italic;
 margin:0;
 color: #AB1500;
 word-wrap: break-word;}
.linkStyle_144{font-family:  'Verdana' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #AB1500 #FF2600 */
 word-wrap: break-word;}
.linkStyle_144:visited{color:#AB1500; text-decoration:underline;}
.linkStyle_144:hover{color:#FF2600; text-decoration:underline;}